/nbproject/private/nbproject/
nbproject/
vendor/
.bundle/
Gemfile.lock
bin/
tools/vagrant/.vagrant/
tools/vagrant/site-roles
tools/vagrant/nodes
cookbooks/
tmp/
.DS_Store
vendor
config/autoload/local.php
